{{>headers}}

<h3>Accounts Details till {{accesstime}}</h3>
</h4>

    <table width="800px" class="table table-striped table-bordered">
        <caption>Table:Amount To Be Recieved</caption>
        <thead class="thead-dark">
            <tr>
                <th>Accounts Recivable</th>
                <th>Amount</th>
                <th>Pan No.</th>
            </tr>
        </thead>
        <tbody>
            {{#each buyerDetails as |svalue key|}}
            <tr>
                {{#each svalue as |value|}}
                {{#if value.name}}<td>{{value.name}}</td> {{/if}}
                {{#if value.amount}}<td>{{value.amount}}</td>{{/if}}
                {{#if value.pan }}<td>{{value.pan}}</td> {{/if}}
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>

    <table width="800px" class="table table-striped table-bordered ml-1">
        <caption>Table:Amount To Be Payed</caption>
        <thead class="thead-dark" >
            <th>Accounts Payable</th>
            <th>Amount</th>
            <th>Pan No.</th>
            </tr>
        </thead>
        <tbody>
            {{#each supplierDetail as |svalue key|}}

            <tr>
                {{#each svalue as |value|}}
                {{#if value.name}}<td>{{value.name}}</td> {{/if}}
                {{#if value.amount}}<td>{{value.amount}}</td>{{/if}}
                {{#if value.pan }}<td>{{value.pan}}</td> {{/if}}
                {{/each}}
            </tr>

            {{/each}}
        </tbody>
    </table>

{{>pieChart}}