{{>headers}}

<h3 class=" text-center">Accounts Details till {{accesstime}}</h3>
</h4>
<div class="mt-4">
    <h3 class=" text-center">Accounts Recivable</h3>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table width="800px" class="table table-striped table-bordered">
            <caption> <kbd>Table:Amount To Be Recieved</kbd> </caption>
            <thead class="thead-dark">
                <tr>
                    <th>Client's Name</th>
                    <th>Amount</th>
                    <th>Pan No.</th>
                </tr>
            </thead>
            <tbody>
                {{#each buyerDetails as |svalue key|}}
                <tr>
                    {{#each svalue as |value|}}
                    {{#if value.name}}<td>{{value.name}}</td> {{/if}}
                    {{#if value.amount}}<td>{{value.amount}}</td>{{/if}}
                    {{#if value.pan }}<td>{{value.pan}}</td> {{/if}}
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="mt-4">
    <h3 class=" text-center">Accounts Payable</h3>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table width="800px" class="table table-striped table-bordered ml-1">
            <caption> <kbd>Table:Amount To Be Payed</kbd> </caption>
            <thead class="thead-dark">
                <th>Supplier's Name</th>
                <th>Amount</th>
                <th>Pan No.</th>
                </tr>
            </thead>
            <tbody>
                {{#each supplierDetail as |svalue key|}}

                <tr>
                    {{#each svalue as |value|}}
                    {{#if value.name}}<td>{{value.name}}</td> {{/if}}
                    {{#if value.amount}}<td>{{value.amount}}</td>{{/if}}
                    {{#if value.pan }}<td>{{value.pan}}</td> {{/if}}
                    {{/each}}
                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>



{{>pieChart}}