{{>headers}}
<div class=" table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-hover ">
    <caption>
      <kbd>Table:List of Clients</kbd>
    </caption>
    <thead class="thead-dark">
      <tr>
        <th>Index</th>
        <th>Pan Number</th>
        <th>Model No.</th>
        <th>Quantity</th>
        <th>Selling Price</th>
        <th>Total Selling Price</th>
      </tr>
    </thead>

    <tbody>
      {{#each buyers as |value key|}}
      <tr>
        <td>{{add1 key}} </td>
        {{#each value as |svalue|}}
        {{#if svalue.modelNo}} <td>{{svalue.buyerPan }} </td> {{/if}}
        {{#if svalue.modelNo}} <td>{{svalue.modelNo }} </td> {{/if}}
        {{#if svalue.modelNo}} <td>{{svalue.quantity }} </td> {{/if}}
        {{#if svalue.modelNo}} <td>{{svalue.sellingPrice }} </td> {{/if}}
        {{#if svalue.modelNo}} <td>{{multiply svalue.sellingPrice svalue.quantity  }} </td> {{/if}}
        {{/each}}

      </tr>
      {{/each}}

    </tbody>
  </table>
</div>


<form action="/clients" method="POST" enctype="multipart/form-data" class=" ab-4 m-4">
  <div class=" form-group">
    <label for="Name">Client's Name</label>
    <input type="text" name="clientName" placeholder="Enter Clients  Name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="Amount">Amount to be Received</label>
    <input type="text" name="amount" placeholder="Enter amount to be Received" class="form-control" />
  </div>
  <div class=" form-group">
    <label for="contact">Contact Number</label>
    <input type="text" name="contact" placeholder="Enter Client's Contact Number" class="form-control" />
  </div>
  <div class="form-group">
    <label for="address"> Client's Address</label>
    <input type="text" name="address" placeholder="Enter Client's Address" class="form-control" />
  </div>
  <div class="form-group">
    <label for="pannumber">Client's Pan No.</label>
    <input type="text" name="panNumber" placeholder="Enter Client's Pan Number" class="form-control" />
  </div>
  <div class="form-group">
    <label for="photo">Upload Client's Image</label>
    <input type="file" name="cphoto" placeholder="Upload Clinet's Photo" class="form-control" />
  </div>
  <input type="submit" value="Add Clients" class="btn btn-primary btn-block mb-4" />
</form>