{{>headers}}
<div class="container" align="center">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{src1}}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{name}}</h4>
      <ul>
        <li class="card-text">Pan Number::{{panNumber}} </li>
        <li class="card-text">Amount::{{amount}} </li>
        <li class="card-text">Address::{{address}} </li>
        <li class="card-text">Contact::{{contactNumber}} </li>
      </ul>
    </div>
  </div>
  <br>
</div>