{{>headers}}


<center>
    <div>
        <button class="btn  btn-light  mt-4"> <a href="clients">Clients</a> </button>
        <button class="btn btn-light mt-4 "> <a href="suppliers">Suppliers</a></button>
    </div>
</center>
<span>
    <h3 class="text text-center">Clients</h3>

    <table width="400px" class="table table-striped table-bordered" border="1px">
        <thead class="thead-dark">
            <tr>
                <th>Index</th>
                <th>Clients's Name</th>
                <th>Pan Number</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {{#each buyerDetails as |svalue key|}}
            <tr>
                <td>{{add1 key}}</td>
                {{#each svalue as |value|}}
                {{#if value.name}}<td>{{value.name}}</td> {{/if}}
                {{#if value.pan }}<td>{{value.pan}}</td> {{/if}}
                {{#if contactNumber}}<td>{{value.contactNumber}}</td> {{/if}}
                {{#if value.address}}<td>{{value.address}}</td>{{/if}}
                {{#if value.amount}}<td>{{value.amount}}</td>{{/if}}
                {{/each}}
            </tr>
            {{/each}}

        </tbody>
    </table>

    <h3 class="text text-center">Suppliers</h3>
    <table class="table table-striped table-bordered" width="400px" border="1px">
        <thead class="thead-dark">
            <tr>
                <th>Index</th>
                <th>Suppliers's Name</th>
                <th>Pan Number</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {{#each supplierDetail as |svalue key|}}

            <tr>
                <td>{{add1 key}}</td>
                {{#each svalue as |value|}}
                {{#if value.name}}<td>{{value.name}}</td> {{/if}}
                {{#if value.pan }}<td>{{value.pan}}</td> {{/if}}
                {{#if contactNumber}}<td>{{value.contactNumber}}</td> {{/if}}
                {{#if value.address}}<td>{{value.address}}</td>{{/if}}
                {{#if value.amount}}<td>{{value.amount}}</td>{{/if}}
                {{/each}}
            </tr>

            {{/each}}

        </tbody>
    </table>

</span>
{{>verticalbar}}