{{>headers}}

<h1 class="text-center mb-4">
    {{title}}
</h1>
<h4>
    Stocks till {{accessTime}}
</h4>

<table class="table">
    <thead border="1px">
        <tr>
            <th>Index</th>
            <th>ModelNo.</th>
            <th>Quantity</th>
            <th>Cost Price</th>
            <th>Total Cost Price</th>
            <th>Selling Price</th>
            <th>Total Selling Price</th>
            <th>Estimated Profit/Loss</th>
        </tr>
    </thead>
    <tbody>
        {{#each stocks as |value key|}}
        <tr>
            <th>{{add1 key}} </th>
            {{#each  value as |svalue|}}
            {{#if svalue.Modelno}}<th> {{svalue.Modelno}} </th> {{/if}}
            {{#if svalue.Quantity}} <th>{{ svalue.Quantity}}</th>{{/if}}
            {{#if svalue.Costprice}}<th>{{svalue.Costprice}} </th> {{/if}}
            {{#if svalue.Costprice}} <th>{{multiply svalue.Costprice svalue.Quantity}}</th>{{/if}}
            {{#if svalue.Sellingprice}} <th>{{svalue.Sellingprice}}</th>{{/if}}
            {{#if svalue.Sellingprice}} <th>{{multiply svalue.Sellingprice svalue.Quantity}}</th>{{/if}}
            {{#if svalue.Sellingprice}} <th>{{profit svalue.Sellingprice svalue.Costprice svalue.Quantity}}</th>{{/if}}
            {{/each}}

        </tr>
        {{/each}}
    </tbody>

</table>

<form action="" method="POST" class=" ab-4">
    <div class=" form-group">
        <label for="Modelno">Model No.</label>
        <input type="text" name="Modelno" placeholder="Enter item's modelno" class="form-control">
    </div>
    <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input type="text" name="Quantity" placeholder="Enter item's quantity" class="form-control">
    </div>
    <div class=" form-group">
        <label for="costprice">Cost price</label>
        <input type="text" name="Costprice" placeholder="Enter item's costprice" class="form-control">
    </div>
    <div class="form-group">
        <label for="sellingprice">Selling price</label>
        <input type="text" name="Sellingprice" placeholder="Enter item's sellingprice" class="form-control">
    </div>
    <div class="form-group">
        <label for="supplier">Supplier's Pan No.</label>
        <input type="text" name="supplierPannumber" placeholder="Enter Supplier's Pan Number" class="form-control">
    </div>

    <input type="submit" value="Add Stock" class="btn btn-primary btn-block mb-4">
</form>