{{>headers}}

<table class="table table-bordered table-hover table-responsive">
    <caption>Table:List of Suppliers</caption>
    <thead class="thead-dark">
        <tr>
            <th>Index</th>
            <th>Pan Number</th>
            <th>Model No.</th>
            <th>Quantity</th>
            <th>Cost Price</th>
            <th>Total Cost Price</th>
        </tr>
    </thead>
    <tbody>

        {{#each suppliers as |value key|}}
            <tr>
                <th>{{add1 key}} </th>
                {{#each  value as |svalue|}}
                    {{#if svalue.supplierPan}} <th>{{svalue.supplierPan}}</th>{{/if}}
                    {{#if svalue.Modelno}}<th> {{tvalue.Modelno}} </th> {{/if}}
                    {{#if svalue.Quantity}} <th>{{svalue.Quantity}}</th>{{/if}}
                    {{#if svalue.Costprice}}<th>{{svalue.Costprice}} </th> {{/if}}
                    {{#if svalue.Costprice}} <th>{{multiply svalue.Costprice svalue.Quantity}}</th>{{/if}}
                {{/each}}

            </tr>
        {{/each}}
    </tbody>

</table>


<form action="/suppliers" method="POST" class=" ab-4">
    <div class=" form-group">
        <label for="Name">suppliers Name</label>
        <input type="text" name="supplierName" placeholder="Enter suppliers Model Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="Amount">Amount to be payed</label>
        <input type="text" name="amount" placeholder="Enter amount to be payed" class="form-control"/>
    </div>
    <div class=" form-group">
        <label for="contact">Contact Number</label>
        <input type="text" name="contact" placeholder="Enter suppliers contact number" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="address"> supplier'sAddress</label>
        <input type="text" name="address" placeholder="Enter supplier's Address" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="pannumber">supplier's Pan No.</label>
        <input type="text" name="panNumber" placeholder="Enter supplier's Pan Number" class="form-control"/>
    </div>
    <input type="submit" value="Add suppliers" class="btn btn-primary btn-block mb-4"/>
</form>