{{>headers}}


<div class=" my-custom-scrollbar table-wrapper-scroll-y">
    <table class="table table-bordered table-hover">
        <caption> <kbd>Table:List of Suppliers</kbd> </caption>
        <thead class="thead-dark">
            <tr>
                <th>Index</th>
                <th>Pan Number</th>
                <th>Model No.</th>
                <th>Quantity</th>
                <th>Cost Price</th>
                <th>Total Cost Price</th>
            </tr>
        </thead>

        <tbody>
            {{#each suppliers as |value key|}}
            <tr>
                <td>{{add1 key}} </td>
                {{#each value as |svalue|}}
                {{#if svalue.modelNo}} <td>{{svalue.supplierPan }} </td> {{/if}}
                {{#if svalue.modelNo}} <td>{{svalue.modelNo }} </td> {{/if}}
                {{#if svalue.modelNo}} <td>{{svalue.quantity }} </td> {{/if}}
                {{#if svalue.modelNo}} <td>{{svalue.costPrice }} </td> {{/if}}
                {{#if svalue.modelNo}} <td>{{multiply svalue.costPrice svalue.quantity  }} </td> {{/if}}
                {{/each}}

            </tr>
            {{/each}}

        </tbody>


    </table>
</div>



<form action="/suppliers" method="POST" enctype="multipart/form-data" class=" ab-4 m-4">
    <div class=" form-group">
        <label for="Name" >Supplier's Name</label>
        <input type="text" name="supplierName" placeholder="Enter Supplier's Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Amount">Amount to be payed</label>
        <input type="text" name="amount" placeholder="Enter amount to be payed" class="form-control" />
    </div>
    <div class=" form-group">
        <label for="contact">Contact Number</label>
        <input type="text" name="contact" placeholder="Enter suppliers contact number" class="form-control" />
    </div>
    <div class="form-group">
        <label for="address"> Supplier's Address</label>
        <input type="text" name="address" placeholder="Enter supplier's Address" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pannumber">Supplier's Pan No.</label>
        <input type="text" name="panNumber" placeholder="Enter supplier's Pan Number" class="form-control" />
    </div>
    <div class="form-group">
        <label for="photo">Upload Supplier's Image</label>
        <input type="file" name="sphoto" placeholder="Upload Supplier's Photo" class="form-control" />
    </div>
    <input type="submit" value="Add suppliers" class="btn btn-primary btn-block mb-4" />
</form>